# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# Expo / Metro
.expo/
.expo-shared/
dist/
web-build/
.expo-dev-client/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.*

# TypeScript
*.tsbuildinfo

# Xcode / iOS (if prebuild)
ios/*
!ios/Podfile
!ios/Podfile.lock

# Android (if prebuild)
android/*
!android/gradle.properties

# IDEs
.vscode/
.idea/
